# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\JAVA\GU_Java_2087 (10.01.2022)\src\ru\geekbrains\motuzok\geekuniversity\java\level1\lesson2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
